


<div class="col-12 mt-4">
  <div class="container mt-4">

    <h4 class="mb-4">Dashboard</h4>

    <!-- Cards -->
    <div class="row text-center">
      <div class="col-md-3">
        <div class="card shadow-sm border-0">
          <div class="card-header text-white font-weight-bold" style="background-color: #e5933f;">
            Total Enquiries
          </div>
          <div class="card-body py-2">
            <h5>{{ enquiryStats?.enquirycount || 0 }}</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card shadow-sm border-0">
          <div class="card-header text-white font-weight-bold" style="background-color: #e5933f;">
            Total Admission
          </div>
          <div class="card-body py-2">
            <h5>{{admissionStats?.admissioncount || 0 }}</h5>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card shadow-sm border-0">
          <div class="card-header text-white font-weight-bold" style="background-color: #e5933f;">
            Today's Revenue
          </div>
          <div class="card-body py-2">
            <h5>{{totalrevenueStats?.totalrevenue || 0 }}</h5>
          </div>
        </div>
      </div>

       
    </div>

    <!-- Table -->
    <div class="main-content-inner">
      <div class="row mt-3">
        <div class="col-lg-10 col-md-9 col-sm-9 mb-4 mt-0">
          <h5 style="color:rgba(31, 97, 141);">
            Recent Enquiry
          </h5>
        </div>

      </div>

      <div class="data-tables mt-2">
        <table id="dataTable" class="erp-datatable table table-bordered table-hover text-center">
          <thead class="bg-light text-capitalize">
            <tr>
              <th>Student Name</th>
              <th>Enquirer Name</th>
              <th>Contact No</th>
              <th>Date</th>
              <th>Last Contacted</th>
             </tr>
          </thead>
          <tbody>
            <tr *ngFor="let details of enquiryDetails; index as i">
              <td>{{details.studentname}}</td>
              <td>{{details.fullname}}</td>
              <td>{{details.mobileno}}</td>
              <td>{{details.enquirydate}}</td>
              <td>{{details.lastcontacted}}</td>
               
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
