
<div class="main-content-inner" *ngIf="companycode == 'C001'">


  <div class="main-content-inner">
    <div class="col-12 mt-4">
      <div class="row mb-3 align-items-center">
        <div class="col-6">
          <h4 style="color:rgba(31, 97, 141); font-weight: 700;">Payment Entry</h4>
        </div>
      </div>
       
      <!-- PAYMENT WORKFLOW (Appears below the table) -->
      <div class="card border-0 shadow-sm" *ngIf="PaymentEditDetails">
        <div class="card-body p-4">
          <div class="p-2 mb-3 text-dark" style="background-color: #d1e2f3;">
            <h6 class="m-0 font-weight-bold">Student Profile Details</h6>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>Student Name</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.studentname" readonly>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>GR Number</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.grnumber" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Program Name</b></label>
                <div class="col-sm-8">
                  <ng-select [(ngModel)]="PaymentEditDetails.standardid" name="standardid" placeholder="Select Standard" readonly="[true]">
                    <ng-option *ngFor="let prog of standardList" [value]="prog.websettingsid">
                      {{prog.value}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>Contact No</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.fatherphoneno" readonly>
                </div>
              </div>
            </div>
          </div>
          <form #paymentForm="ngForm" novalidate>

            <!-- FEE SETUP -->
            <div class="p-2 mb-3 mt-4 text-dark" style="background-color: #d1e2f3;">
              <h6 class="m-0 font-weight-bold">Log Payment</h6>
            </div>


            <div class="row">
              <div class="col-lg-5 mt-3">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>From Date</b></label>
                  <div class="col-sm-8">
                    <ejs-datepicker format='dd-MM-yyyy' name="Fromdate" [(ngModel)]='PaymentEditDetails.fromdate' required #fromdate="ngModel"></ejs-datepicker>
                  </div>
                </div>
              </div>



              <div class="col-lg-5 mt-3  text-left">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-center"><b><span class="text-danger mr-1 text-right">*</span>To Date</b></label>
                  <div class="col-sm-8">
                    <ejs-datepicker format='dd-MM-yyyy' name="todate" [(ngModel)]='PaymentEditDetails.todate' required #todate="ngModel"></ejs-datepicker>
                  </div>
                </div>
              </div>



              <div class="col-lg-2 text-center mt-0">
                <button type="submit" class="btn btn-success px-4" (click)="fetchhours()">
                  <i class="fa fa-save"></i> Fetch Hours
                </button>

              </div>



              <div class="col-lg-6 text-center mt-5">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1 text-right">*</span>Total Hours</b></label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="Total Hours" placeholder="Total Hours"
                           [(ngModel)]="PaymentEditDetails.totalhours" required>
                  </div>
                </div>
              </div>


              <div class="col-lg-6   mt-5">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Rate</b></label>
                  <div class="col-sm-8">
                    <ng-select (change)="calculateAmount()" [(ngModel)]="PaymentEditDetails.rateid" name="rateid" placeholder="Select Rate" required #rateid="ngModel">
                      <ng-option *ngFor="let rate of ratelist" [value]="rate.websettingsid">
                        {{rate.value}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>

            </div>





            <!-- TRANSACTION ENTRY -->
            <div class="p-2 mb-3 mt-4 text-dark" style="background-color: #d1e2f3;">
              <h6 class="m-0 font-weight-bold">Transaction Entry</h6>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Amount</b></label>
                  <div class="col-sm-8">
                    <input type="number" name="totalAmount" class="form-control" placeholder="0.00"
                           [(ngModel)]="PaymentEditDetails.totalamount" readonly required>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Payment Date</b></label>
                  <div class="col-sm-8">
                    <ejs-datepicker format='dd-MM-yyyy' name="paymentdate" [(ngModel)]='PaymentEditDetails.paymentdate'></ejs-datepicker>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Payment Mode</b></label>
                  <div class="col-sm-8">
                    <ng-select [(ngModel)]="PaymentEditDetails.paymentmodeid" name="paymentmodeid" placeholder="Select Mode" required #paymentmodeid="ngModel">
                      <ng-option *ngFor="let mode of paymentmodeList" [value]="mode.websettingsid">
                        {{mode.value}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b>Reference No</b></label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="referenceno" placeholder="Ref No "
                           [(ngModel)]="PaymentEditDetails.referenceno">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4 pb-4">
              <div class="col-lg-12 text-right">
                <hr>
                <button type="submit" class="btn btn-success px-4" (click)="updatePayment(paymentForm)">
                  <i class="fa fa-save"></i> Update Payment
                </button>
                <button type="button" class="btn btn-dark ml-2 px-4" (click)="PaymentEditDetails = null">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
















<!-- Preschool ENTRY -->





<div class="main-content-inner" *ngIf="companycode == 'C002'">


  <div class="main-content-inner">
    <div class="col-12 mt-4">
      <div class="row mb-3 align-items-center">
        <div class="col-6">
          <h4 style="color:rgba(31, 97, 141); font-weight: 700;">Preschool Payment Entry</h4>
        </div>
      </div>
        

      <!-- PAYMENT WORKFLOW (Appears below the table) -->
      <div class="card border-0 shadow-sm" *ngIf="PaymentEditDetails">
        <div class="card-body p-4">

          <div class="p-2 mb-3 text-dark" style="background-color: #d1e2f3;">
            <h6 class="m-0 font-weight-bold">Student Profile Details</h6>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>Student Name</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.studentname" readonly>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>GR Number</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.grnumber" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Program Name</b></label>
                <div class="col-sm-8">
                  <ng-select [(ngModel)]="PaymentEditDetails.standardid" name="standardid" placeholder="Select Standard" readonly="[true]">
                    <ng-option *ngFor="let prog of standardList" [value]="prog.websettingsid">
                      {{prog.value}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right"><b>Contact No</b></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control bg-light" [value]="PaymentEditDetails.fatherphoneno" readonly>
                </div>
              </div>
            </div>
          </div>

          <!-- FEE SETUP -->
          <div class="p-2 mb-3 mt-4 text-dark" style="background-color: #d1e2f3;">
            <h6 class="m-0 font-weight-bold">Fee Installments</h6>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group row">
                <label class="col-sm-2 col-form-label text-right"><b>Select Installment</b></label>
                <div class="col-sm-10 d-flex align-items-center">
                  <div *ngFor="let fee of feesetupList;" class="form-check form-check-inline mr-4">
                    <input class="form-check-input" type="checkbox" [name]="'feesetup_' + fee.feesetupid" [id]="fee.feesetupid"
                           [(ngModel)]="fee.ischecked" (change)="calculateTotal()" readonly>
                    <label class="form-check-label" [for]="fee.feesetupid">{{ fee.particularname }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- TRANSACTION ENTRY -->
          <form #paymentForm="ngForm" novalidate>
            <div class="p-2 mb-3 mt-4 text-dark" style="background-color: #d1e2f3;">
              <h6 class="m-0 font-weight-bold">Transaction Entry</h6>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Amount</b></label>
                  <div class="col-sm-8">
                    <input type="number" name="totalAmount" class="form-control" placeholder="0.00"
                           [(ngModel)]="PaymentEditDetails.totalamount" readonly>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Payment Date</b></label>
                  <div class="col-sm-8">
                    <ejs-datepicker format='dd-MM-yyyy' name="paymentdate" [(ngModel)]='PaymentEditDetails.paymentdate'></ejs-datepicker>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b><span class="text-danger mr-1">*</span>Payment Mode</b></label>
                  <div class="col-sm-8">
                    <ng-select [(ngModel)]="PaymentEditDetails.paymentmodeid" name="paymentmodeid" placeholder="Select Mode"  required  #paymentmodeid="ngModel">
                      <ng-option *ngFor="let mode of paymentmodeList" [value]="mode.websettingsid">
                        {{mode.value}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right"><b>Reference No</b></label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" name="referenceno" placeholder="Ref No "
                           [(ngModel)]="PaymentEditDetails.referenceno">
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-4 pb-4">
              <div class="col-lg-12 text-right">
                <hr>
                <button type="submit" class="btn btn-success px-4" (click)="updatePayment(paymentForm)">
                  <i class="fa fa-save"></i> Update Payment
                </button>
                <button type="button" class="btn btn-dark ml-2 px-4" (click)="PaymentEditDetails = null">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>











