<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a><img
          src="../../../assets/images/imgs/logo.png"></a>
    </div>
  </div>
  <div class="main-menu">

    <div class="menu-inner sidebar-scroll">
      <nav>
        <ul class="metismenu" id="menu">
          <li>
            <a href="javascript:void(0)" (click)="goToPage('dashboard')">
              <i class="ti-home text-primary"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="goToPage('admission')">
              <i class="ti-id-badge text-primary"></i>
              <span>Admission</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="goToPage('enquiry')">
              <i class="ti-clipboard text-primary"></i>
              <span>Enquiry</span>
            </a>
          </li>

          <li>
            <a href="javascript:void(0)" (click)="goToPage('payment')">
              <i class="ti-clipboard text-primary"></i>
              <span>Payment</span>
            </a>
          </li>
           
          <li>
            <a href="javascript:void(0)" (click)="goToPage('log')">
              <i class="ti-clipboard text-primary"></i>
              <span>Log</span>
            </a>
          </li>
 
    <!--<li>
  <a href="javascript:void(0)" aria-expanded="true">
    <i class="ti-package text-primary"></i>
    <span>
      Products
    </span>
  </a>
  <ul class="collapse">
    <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('product')">Product</a></li>-->
    <!--<li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('pricelist')">Price Lists</a></li>
  <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('inventory')">Inventory Adjustments</a></li>-->
    <!--</ul>
  </li>-->
    <!-- <li>
    <a href="javascript:void(0)" aria-expanded="true">
      <i class="ti-user text-primary"></i>
      <span>
        Customers
      </span>
    </a>
    <ul class="collapse">
      <li>
        <a href="javascript:void(0)" class="thumbnail" (click)="goToPage('customer')">Customer</a>
      </li>
    </ul>
  </li> -->
    <!--<li>
    <a href="javascript:void(0)" aria-expanded="true">
      <i class="ti-shopping-cart text-primary"></i>
      <span>Sales</span>
    </a>
    <ul class="collapse">
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('invoice')">Invoices</a></li>
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('estimate')">Estimates</a></li>
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('order')">Sales Order</a></li>
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('deliverychallan')">Delivery Challans</a></li>
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('payment')">Payments Received</a></li>
      <li><a href="javascript:void(0)" class="thumbnail" (click)="goToPage('credit')">Credit Notes</a></li>
    </ul>
  </li>-->
    </ul>
    </nav>
  </div>
  </div>

  <div class="sidebar-footer">
    Copyright <i class="fa fa-copyright"></i> by Bizman.
  </div>
</div>
