
<div class="sidebar-menu">
  <div class="sidebar-header">
    <div class="logo">
      <a href="javascript:void(0)" (click)="goToPage('customerportal')"><img src="../../../assets/images/imgs/atulsales-logo.png"></a>
    </div> 
  </div>
  <div class="main-menu">
    <div class="menu-inner">
      <nav>
        <ul class="metismenu" id="menu">
          <li>
            <a href="javascript:void(0)" (click)="goToPage('dashboard')">
              <i class="ti-bar-chart text-primary"></i>
              <span>Dashboard</span>
            </a>
          </li>

          <li>
            <a href="javascript:void(0)" (click)="goToPage('invoicehistory')">
              <i class="ti-shopping-cart text-primary"></i>
              <span>Invoice History</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="goToPage('paymenthistory')">
              <i class="ti-bag text-primary">
              </i><span>Payment History</span>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>

  <div class="sidebar-footer">
    Copyright <i class="fa fa-copyright"></i> by Bizman.
  </div>
</div>





